@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
 background-image: url(../assets/beach\ background.jpg);
 background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    
}
.container {
  background-image: url(../assets/sand-texture-brown-sand-background-from-fine-sand-sand-background-min.jpg);
  background-size: contain;
  max-width: 700px;
  margin: 0 auto;
  padding: 1em;
  border-radius: 1em;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  color: #97c4fd;
  text-shadow: 4px 1px 5px black;
}

table {
    border-collapse: collapse;
    display: block;
    padding-left: 55px;
    width: 600px;
    height: 600px;
    margin: 0, auto;
    font-family: 'Pacifico', cursive;
    color: #c3a77a;
    font-variant: small-caps;
    text-shadow: 4px 1px 5px black;
    
  }
  
  td {
    width: 200px;
    height: 200px;
    font-size: 60px;
    text-align: center;
    vertical-align: middle;
    border: 5px inset #c3a77a;
    cursor: pointer;
  }
  header {
    display: flex;
    min-height: 80px;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    text-shadow: 5px white;
  }
  
  .head {
    position: relative;
  }
  
  .head h2 {
    color: white;
    font-size: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  .content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #1511f9;
  }
  
  .head h2:nth-child(2) {
    color: #1dadcf;
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }
  footer {
    display: flex;
    min-height: 80px;
    justify-content: center;
  }
  button {
    background-color: #1dadcf;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    justify-content: right;
    border-radius: 4px;
  
  }
  button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }